<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu form</title>
</head>
<body>
    <h2> Insert a book:</h2>

    <form action="/" method="POST">


    <label>Title:</label><br>
    <input type="text" name="title"><br>
    <label>Description:</label><br>
    <input type="text" name="description"><br>
    <button name="submit_button" type="submit">Insert one</button>
    </form>

    <br>
    <a href="http://localhost:3000/showall">Show all books</a>
    
</body>
</html>